@import './colors.scss';

body {
    background-image: linear-gradient(#28313B, #485461);
    margin: 0;
    padding: 30px;
  }

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
